services:
  db:
    image: postgres:18-alpine
    restart: always
    environment:
      - POSTGRES_USER=myuser
      - POSTGRES_PASSWORD=mypassword
      - POSTGRES_DB=boardgamedb
    ports:
    - "5432:5432"
    volumes:
    - db-data:/var/lib/postgresql/data
    networks:
    - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U myuser -d boardgamedb"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build: ./backend/boardgame-connect
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/boardgamedb
      - SPRING_DATASOURCE_USERNAME=myuser
      - SPRING_DATASOURCE_PASSWORD=mypassword
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network

volumes:
  db-data:

networks:
  app-network:
    driver: bridge