.login-card {
  max-width: var(--app-card-width-sm);
}

mat-card-header {
  justify-content: center;
  margin-bottom: 24px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

mat-form-field {
  width: 100%;
}
