<div class="page-centered">
  <mat-card class="login-card app-card">
    <mat-card-header>
      <mat-card-title>Welcome Back</mat-card-title>
    </mat-card-header>

    <form [formGroup]="loginForm" (ngSubmit)="processLoginForm()">
      <app-role-selector [(role)]="role" />

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="name@example.com" />

        @if (loginForm.get('email')?.hasError('required')) {
        <mat-error>Email is required</mat-error>
        } @else if (loginForm.get('email')?.hasError('email')) {
        <mat-error>Invalid email address</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
        @if (loginForm.get('password')?.hasError('required')) {
        <mat-error>Password is required</mat-error>
        }
      </mat-form-field>

      @if (errorMessage()) {
      <div class="error-feedback">{{ errorMessage() }}</div>
      }

      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
        Sign In
      </button>
    </form>
  </mat-card>
</div>
