.card-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  border-left: 6px solid transparent;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
  }
}

.game-cover-image {
  height: 300px;
  object-fit: cover;
  width: 100%;
  border-bottom: 1px solid var(--app-border-color);
}

.card-header {
  margin-top: 12px;
}

.card-title {
  font-size: 1.15rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 4px;
}

.card-subtitle {
  color: #3f51b5;
  /* Indigo */
  font-weight: 500;
  font-size: 0.75rem;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  gap: 4px;
}

.subtitle-icon {
  font-size: 16px;
  width: 16px;
  height: 16px;
}

.card-content {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-footer {
  margin-top: 16px;
  padding-top: 12px;
  // Use the application variable here as well
  border-top: 1px solid var(--app-border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-row {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #616161;
}

.info-icon {
  font-size: 18px;
  width: 18px;
  height: 18px;
  color: #757575;
}

.status-open {
  border-left-color: #4caf50;
}

.status-closed {
  border-left-color: #9e9e9e;
  opacity: 0.8;
}
