.register-card {
  max-width: var(--app-card-width-md);
}

mat-card-header {
  justify-content: center;
  margin-bottom: 24px;
}

.association-fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
  animation: fadeIn 0.3s ease-in-out;
}



@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
