.bg-red-50 {
  background-color: #fef2f2 !important;
}

.text-red-700 {
  color: #b91c1c !important;
}

.bg-green-50 {
  background-color: #f0fdf4 !important;
}

.text-green-700 {
  color: #15803d !important;
}
