.dense-form-field {
  font-size: 14px;
}

:host ::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
  /* Hides the space reserved for hint/error if not used, for tighter layout */
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
