.create-card {
  max-width: var(--app-card-width-lg);
}

mat-card-header {
  justify-content: center;
  margin-bottom: 24px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

mat-form-field {
  width: 100%;
}

.row-group {
  display: flex;
  gap: 16px;

  mat-form-field {
    flex: 1;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 16px;
}
