:host {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

mat-button-toggle-group {
  width: 100%;
  border-radius: 24px;
  overflow: hidden;
}

mat-button-toggle {
  flex: 1;
  font-weight: 500;
}
