name: Backend CI

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**.md'
      - 'frontend/**'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '**.md'
      - 'frontend/**'

jobs:
  build:
    name: Build and test with Java 21
    runs-on: ubuntu-24.04

    defaults:
      run:
        working-directory: ./backend/boardgame-connect

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'
      
      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: |
              ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml', '**/*.yml') }}
          restore-keys: ${{ runner.os }}-m2-
      
      - name: Build and test with Maven
        run: mvn verify

